* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 780px;
  min-height: 500px;
  overflow: hidden;
  margin: 0;
  font-size: 20px;
  font-family: "Caveat", sans-serif;
  color: #333;
  background-color: #fffeef;
}

label {
  cursor: pointer;
}

a {
  color: inherit;
}

input,
button {
  font-family: inherit;
  outline: none;
}

button {
  padding: 4px 24px;
  border: none;
  border-radius: 13px;
  font-size: 100%;
  background-color: #d1d65b;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

p {
  white-space: pre-wrap;
}

::-webkit-scrollbar {
  width: 16px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 4px solid #fffeef;
  border-radius: 16px;
  background-color: #babac0;
}


/*******************************/
/* DIVIDERS                    */
/*******************************/
.divider {
  flex-shrink: 0;
}

.divider-1 {
  width: 50px;
  height: 392px;
  margin: 20px auto;
  background: url("images/divider-1.svg") no-repeat;
}

.divider-2 {
  width: 780px;
  height: 36px;
  margin: 20px auto;
  background: url("images/divider-2.svg") no-repeat;
}


/*******************************/
/* CONTENT                     */
/*******************************/
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  padding: 40px;
}

.main-content {
  flex-grow: 1;
  overflow: auto;
  padding-right: 40px;
}
